In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('visual2.csv')

In [10]:
df

      student_name      Marks  Age     Contact  Study_hours
0         manas            30    14  678544667            4
1         heena            50    15  764655445            6
2           dev            60    17  556543645            7

In [16]:
df['Marks']

0    30
1    50
2    60
Name: Marks, dtype: int64